.single-selector .range-slider__thumb[data-lower] {
    width: 0;
}

.range-slider-wrapper {
    display: flex;
}

.selectors-wrapper {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.selectors-wrapper > div {
    flex: 0 0 calc(50% - 5px);
    box-sizing: border-box;
}

.title {
    text-align: center;
}

.toggle-switch {
    margin-bottom: 20px;
    font-family: monospace;
}